@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Bai Jamjuree", sans-serif;
  margin: 0;
  text-align: center;
  color: #4c545d;
}

img {
  max-width: 100%;
}

p {
  line-height: 1.5;
  color: #9fabb2;
}

h2 {
  font-size: 2.3rem;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 4.5rem auto 0 auto;
}

.small-container {
  width: 700px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.8rem;
}

.cta .btn {
  padding: 1rem 2.2rem;
  border-radius: 50px;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
  outline: none;
  border: none;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in opacity;
  transition: 0.2s ease-in opacity;
}

.cta .btn:hover {
  opacity: 0.7;
}

.cta .btn:not(:first-child) {
  margin-left: 0.9rem;
}

.cta .btn-primary {
  background: #26baa4;
  -webkit-box-shadow: 0 4px #1d907f, 0 10px 18px rgba(38, 186, 164, 0.5);
          box-shadow: 0 4px #1d907f, 0 10px 18px rgba(38, 186, 164, 0.5);
}

.cta .btn-secondary {
  background: #6173ff;
  -webkit-box-shadow: 0 4px #2e46ff, 0 10px 18px rgba(97, 115, 255, 0.5);
          box-shadow: 0 4px #2e46ff, 0 10px 18px rgba(97, 115, 255, 0.5);
}

.hero {
  background: url("./images/bg-header-desktop.png") no-repeat center/cover;
  padding: 6rem 0;
}

.hero h1 {
  font-size: 3rem;
  letter-spacing: 0.5px;
  margin: 3.8rem 0 1rem 0;
}

.hero p {
  font-size: 1.3rem;
  max-width: 750px;
  margin: 0 auto;
  letter-spacing: 1px;
  margin-bottom: 3rem;
}

.snippets {
  overflow-x: hidden;
}

.features {
  margin-top: 6rem;
}

.features .feature:not(:first-child) {
  margin-top: 4rem;
}

.features .image {
  margin-top: 4rem;
}

.features .image img {
  -webkit-transform: scale(1.4) translateX(-6rem);
          transform: scale(1.4) translateX(-6rem);
}

.features .content {
  margin-left: 5rem;
  text-align: left;
}

.features .content h3 {
  font-size: 1.6rem;
}

.features .content p {
  max-width: 380px;
  font-size: 1.1rem;
}

.access {
  margin-top: 15rem;
}

.access img {
  margin-top: 9rem;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.workflow {
  margin-top: 9rem;
}

.workflow .flex {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.workflow .flex .item {
  margin: 1rem 1rem 1rem 0;
}

.workflow .flex .item p {
  font-size: 1.1rem;
  margin-bottom: 3rem;
  line-height: 1.7;
}

.workflow .flex .item img {
  margin-bottom: 1rem;
}

.workflow .flex .item:nth-child(2) {
  padding-top: 1.3rem;
}

.workflow .flex .item:last-child {
  margin-right: 0;
}

.sponsors {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 10rem;
}

.call-to-action h2 {
  font-size: 2.4rem;
}

.call-to-action .cta {
  margin: 3rem 0 10rem 0;
}

footer {
  margin-top: 3rem;
  background: #edf0f2;
  padding: 2.2rem 11.1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .logo {
  width: 3.7rem;
  margin-right: -7rem;
}

footer .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container {
  margin: 0 auto;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

footer ul li a {
  text-decoration: none;
  color: #4c545d;
}

footer .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .menu > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 3.7rem;
}

footer .menu > div:nth-child(2) {
  margin-left: 2rem;
}

footer .menu li {
  margin-right: 1.3rem;
}

footer .menu li a {
  -webkit-transition: 0.2s ease-in color;
  transition: 0.2s ease-in color;
}

footer .menu li a:hover {
  color: #26baa4;
}

footer .menu li:first-child {
  margin-bottom: 1.4rem;
}

footer .social li:not(:last-child) {
  margin-right: 1.4rem;
}

footer .social li a {
  font-size: 1.7rem;
  -webkit-transition: 0.2s ease-in color;
  transition: 0.2s ease-in color;
}

footer .social li a:hover {
  color: #26baa4;
}
/*# sourceMappingURL=styles.css.map */